<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :query, "Question"  %>
    <br />
    <%= form.text_area :query, cols: 40, rows: 5 %>
  </div>

  <div class="field">
    <!--upload image-->
    <%= form.label "Upload Image (Optional):" %>
    </br>
    <%= form_with model: @question do |form| %>
      <%= form.file_field :picture, accept: 'image/png, image/gif, image/jpeg' %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :ch1, "Choice 1" %>
    <br />
    <%= form.text_area :ch1, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch2, "Choice 2" %>
    <br />
    <%= form.text_area :ch2, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch3, "Choice 3" %>
    <br />
    <%= form.text_area :ch3, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch4, "Choice 4" %>
    <br />
    <%= form.text_area :ch4, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch5, "Choice 5" %>
    <br />
    <%= form.text_area :ch5, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch6, "Choice 6" %>
    <br />
    <%= form.text_area :ch6, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch7, "Choice 7" %>
    <br />
    <%= form.text_area :ch7, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch8, "Choice 8" %>
    <br />
    <%= form.text_area :ch8, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch9, "Choice 9" %>
    <br />
    <%= form.text_area :ch9, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :ch10, "Choice 10" %>
    <br />
    <%= form.text_area :ch10, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= form.label :correct, "Correct Answer" %>
    <%= select_tag(:correct, options_for_select([['Choice 1', 1], ['Choice 2', 2], ['Choice 3', 3], ['Choice 4', 4], ['Choice 5', 5], ['Choice 6', 6], ['Choice 7', 7], ['Choice 8', 8], ['Choice 9', 9], ['Choice 10', 10]])) %>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto">
    <%= form.submit "Create Question", class: 'btn btn-primary' %>
  </div>
<% end %>
