<%= form_with(model: question, local: true) do |f| %>
  <!--<#% if question.errors.any? %>
    <div id="error_explanation">
      <h2><#%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <#% question.errors.each do |error| %>
          <li><#%= error.full_message %></li>
        <#% end %>
      </ul>
    </div>
  <#% end %>-->

  <%= f.hidden_field :test_id, :value=> params[:test_id] %>

  <div class="field">
    <%= f.label :query, "Question"  %>
    <br />
    <%= f.text_area :query, cols: 40, rows: 5 %>
  </div>

  <div class="field">
    <!--upload image-->
    <%= f.label "Upload Image (Optional):" %>
    </br>
    <%= f.file_field :picture, accept: 'image/png, image/gif, image/jpeg' %>
  </div>

  <div class="field">
    <%= f.label :ch1, "Choice 1" %>
    <br />
    <%= f.text_area :ch1, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch2, "Choice 2" %>
    <br />
    <%= f.text_area :ch2, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch3, "Choice 3" %>
    <br />
    <%= f.text_area :ch3, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch4, "Choice 4" %>
    <br />
    <%= f.text_area :ch4, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch5, "Choice 5" %>
    <br />
    <%= f.text_area :ch5, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch6, "Choice 6" %>
    <br />
    <%= f.text_area :ch6, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch7, "Choice 7" %>
    <br />
    <%= f.text_area :ch7, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch8, "Choice 8" %>
    <br />
    <%= f.text_area :ch8, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch9, "Choice 9" %>
    <br />
    <%= f.text_area :ch9, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :ch10, "Choice 10" %>
    <br />
    <%= f.text_area :ch10, cols: 30, rows: 2 %>
  </div>

  <div class="field">
    <%= f.label :correct, "Correct Answer" %>
    <%= f.select(:correct, options_for_select([['Choice 1', 1], ['Choice 2', 2], ['Choice 3', 3], ['Choice 4', 4], ['Choice 5', 5], ['Choice 6', 6], ['Choice 7', 7], ['Choice 8', 8], ['Choice 9', 9], ['Choice 10', 10]])) %>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto">
    <%= f.submit "Save Question", class: 'btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">
  $("#question_picture").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#question_picture").val("");
    }
  });
</script>