<%= form_with(model: questions) do |f| %>
  <div class="question">
    <p>Question:</p>
    <p>(Question Entered Here)</p>
    <p>(Radio Button Group to determine correct answer)</p>
    <p>(2-10 answer choice text boxes)</p>
    
    <div class="field">
      <!--change the variable storing the question-->
      <!--<= f.label "Question " #number of question# %>-->    
      <!-- f.text_field :time, class: 'form-control' %>-->
    </div>
    
    <div class="field">
      <!--upload image-->
      <%= f.label "Upload Image (Optional):" %>
      </br>
      <%= form_with model: @question do |form| %>
        <%= form.file_field :picture %>
      <% end %>
    </div>
    
    <!--Add another question section-->
    <center><%= button_to "Add Another Question", class: 'btn btn-primary form-control' , :method => "add_question" %></center>
  </div>
<% end %>