<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @question.query %>
</p>

<p>
  <strong>Ch1:</strong>
  <%= @question.ch1 %>
</p>

<p>
  <strong>Ch2:</strong>
  <%= @question.ch2 %>
</p>

<p>
  <strong>Ch3:</strong>
  <%= @question.ch3 %>
</p>

<p>
  <strong>Ch4:</strong>
  <%= @question.ch4 %>
</p>

<p>
  <strong>Ch4:</strong>
  <%= @question.ch4 %>
</p>

<p>
  <strong>Ch5:</strong>
  <%= @question.ch5 %>
</p>

<p>
  <strong>Ch6:</strong>
  <%= @question.ch6 %>
</p>

<p>
  <strong>Ch7:</strong>
  <%= @question.ch7 %>
</p>

<p>
  <strong>Ch8:</strong>
  <%= @question.ch8 %>
</p>

<p>
  <strong>Ch9:</strong>
  <%= @question.ch9 %>
</p>

<p>
  <strong>Ch10:</strong>
  <%= @question.ch10 %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @question.correct %>
</p>

<p>
  <strong>Test:</strong>
  <%= @question.test_id %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
