<%= form_with(model: test) do |f| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% test.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="test_left">
    <div class="field">
      <%= f.label "Test Name" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    
    <div class="field">
      <%= f.label "Creator" %>
      <%= select_tag(:user_id, options_for_select(@user_options)) %>
    </div>
    
    <div class="field">
      <%= f.label "Private?" %>
      <%= f.check_box :private %>
    </div>
  
    <!--add error if password is submitted but test is not private-->
    <div class="field">
      <%= f.label "Password (if private)" %>
      <%= f.text_field :password, class: 'form-control' %>
    </div>
  
    <!--add time formatting-->
    <div class="field">
      <%= f.label "Time Limit (minutes)" %>
      <%= f.number_field :time, class: 'form-control' %>
    </div>
  </div>

  <div class="quest_contain">
    <div class="d-grid gap-2 col-4 mx-auto">
      <%= link_to 'Add Question', new_question_path, class: "btn btn-sm btn-primary text-white" %>
    </div>
    <br />
    
    <!--Question-->
    <!--< @questions.find_each do |question| %>-->
      <div class="question">
        <!--display image uploaded or that no image was uploaded-->
        <!-- <= image_tag( @questions.picture ) if @questions.picture.attached? %>
        <p>Question: <= @questions.query %></p>
        <p>Choice 1 : <= @questions.ch1 %></p>
        <p>Choice 2 : <= @questions.ch2 %></p>
        <p>Choice 3 : <= @questions.ch3 %></p>
        <p>Choice 4 : <= @questions.ch4 %></p>
        <p>Choice 5 : <= @questions.ch5 %></p>
        <p>Choice 6 : <= @questions.ch6 %></p>
        <p>Choice 7 : <= @questions.ch7 %></p>
        <p>Choice 8 : <= @questions.ch8 %></p>
        <p>Choice 9 : <= @questions.ch9 %></p>
        <p>Choice 10 : <= @questions.ch10 %></p>

        <p>Correct Answer : <= @questions.correct %></p>-->
        
        <!--<center><= link_to 'Edit Question', editquestion_path(@editquestion), method: :update, class: "btn btn-sm btn-primary text-white" %></center>-->
      </div>
    <!--< end %>-->
    
    <!--Errors and later edits-->
    <!--able to delete any question or answer choice, however the user can not delete when there is only one question or two answer choices-->
    
    <!--for selecting correct answer to each question-->
    <!--<= form.radio_button :age, "child" %>
    <= form.label :age_child, "I am younger than 21" %>
    <= form.radio_button :age, "adult" %>
    <= form.label :age_adult, "I am over 21" %>
    or
    <= form.collection_radio_buttons :city_id, City.order(:name), :id, :name %>
    -->
  
  </div>

  <div class="d-grid gap-2 col-4 mx-auto">
    <%= f.submit "Create/Update Test", class: 'btn btn-primary' %>
  </div>
  
<% end %>
