<%= form_with(model: test, local: true) do |f| %>

  <%= render 'shared/error_test' %>

  <div class="row">
    <% if @test.id == nil %>
      <div class="col-12 my-2">
        <div class="card d-grid p-3 border-0">
    <% else %>
      <div class="col-md-4">
        <div class="card d-grid p-3 my-2 border-primary">
    <% end %>
          
            <%= f.label "Test Name" %>
            <%= f.text_field :name, class: 'form-control' %>
          
          
          
            <%= f.label "Creator" %>
            <%= f.select(:user_id, @users.map{ |u| [u.firstName + " " + u.lastName, u.id] }, {}, class: "form-control" ) %>
          
          
          
            <%= f.label "Private?" %>
            <%= f.check_box :private %>
          
        
          
            <%= f.label "Password (if private)" %>
            <%= f.text_field :password, class: 'form-control' %>
          
        
          <!--add time formatting-->
          
            <%= f.label "Time Limit (minutes)" %>
            <%= f.number_field :time, class: 'form-control' %>
          

            <%= f.label "Description" %>
            <%= f.text_area :description, class: 'form-control' %>
        </div>
    <% if @test.id != nil %>
        <div class="d-grid col-md-8 col-sm-4 mx-auto">
          <%= f.submit "Add Question", name: "Add", class: 'btn-primary mt-2' %>
        </div>
      </div>
      <div class="col-md-8">
        <% @questions.find_each do |question| %>
          <div class="card d-grid p-0 my-2 border-primary">
            <% if question.picture.attached? %>
              <p class="p-0 m-0"><%= image_tag(question.display_pic, class: 'img-fluid card-img-top') %></p>
            <% end %>
            <div class="card-body p-2 mx-2">
              <!--Question Info-->
              <span>
                <% unless question.picture.attached? %>
                  <p class="pt-2">No Picture Attached</p>
                <% end %>
                <% unless (question.query).blank? %>
                  <p>Question: <%= question.query %></p>
                <% end %>
                <% unless (question.ch1).blank? %>
                  <p>Choice 1: <%= question.ch1 %></p>
                <% end %>
                <% unless (question.ch2).blank? %>
                  <p>Choice 2: <%= question.ch2 %></p>
                <% end %>
                <% unless (question.ch3).blank? %>
                  <p>Choice 3: <%= question.ch3 %></p>
                <% end %>
                <% unless (question.ch4).blank? %>
                  <p>Choice 4: <%= question.ch4 %></p>
                <% end %>
                <% unless (question.ch5).blank? %>
                  <p>Choice 5: <%= question.ch5 %></p>
                <% end %>
                <% unless (question.ch6).blank? %>
                  <p>Choice 6: <%= question.ch6 %></p>
                <% end %>
                <% unless (question.ch7).blank? %>
                  <p>Choice 7: <%= question.ch7 %></p>
                <% end %>
                <% unless (question.ch8).blank? %>
                  <p>Choice 8: <%= question.ch8 %></p>
                <% end %>
                <% unless (question.ch9).blank? %>
                  <p>Choice 9: <%= question.ch9 %></p>
                <% end %>
                <% unless (question.ch10).blank? %>
                  <p>Choice 10: <%= question.ch10 %></p>
                <% end %>
                <% unless question.correct == 0 || question.correct == nil %>
                  <p>Correct Answer: Choice <%= question.correct %></p>
                <% end %>
              </span>
              <%= f.hidden_field :quest_id, value: question.id %>
              <div class="d-grid col-4 mx-auto">
                <%= f.submit "Edit Question", name: "Edit", class: 'btn-primary' %>
              </div>
            </div>
            <!--comments-->
            <span>
              <!--Errors and later edits-->
              <!--user can not delete item when there is only one question or two answer choices-->
              
              <!--for selecting correct answer to each question-->
              <!--<= form.radio_button :age, "child" %>
              <= form.label :age_child, "I am younger than 21" %>
              <= form.radio_button :age, "adult" %>
              <= form.label :age_adult, "I am over 21" %>
              or
              <= form.collection_radio_buttons :city_id, City.order(:name), :id, :name %>
              -->
            </span>
          </div>
        <% end %>
      </div>
      <div class="d-grid col-4 mx-auto my-2">
        <%= f.submit "Save Test", name: "Save", class: 'btn-primary' %>
        <%= link_to "Delete Test",delete_test_path(@test), class: 'btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this test?' } %>
      </div>
    <% else %>
      <div class="d-grid col-4 mx-auto my-2">
        <%= f.submit "Add Question", class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
