<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @test.creator %>
</p>

<p>
  <strong>Private:</strong>
  <%= @test.private %>
</p>

<p>
  <strong>Password:</strong>
  <%= @test.password %>
</p>

<p>
  <strong>Time:</strong>
  <%= @test.time %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @test.archive %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
