<header class="fixed-top" style="background-color: #000080; margin-top: -10; margin-left:-50; padding-bottom: 5">
  <nav>
    <div class="container-fluid">
      <ul>
        <li class="nav navbar-brand nav-link" style="float:left">
          <!--change text-->
          <%= link_to "Senior Project", home_path , id: "logo" %>
        </li>
        <span class="nav" style="float:right">
          <!--change to Admin-->
          <!--< if user_admin? %>-->
            <li class="nav-item nav-link"><%= link_to "Home", home_path , id: "navlink" %></li>
            <li class="nav-item nav-link"><%= link_to "Create A Test", new_test_path , id: "navlink" %></li>
            <!--change path and make view different for admin vs user-->
            <li class="nav-item nav-link"><%= link_to "View Test Results", test_results_path , id: "navlink" %></li>
            <li class="nav-item nav-link"><%= link_to "List of Admin/Users", user_list_path , id: "navlink" %></li>
            <!--make user log out-->
            <li class="nav-item nav-link"><%= link_to "Log Out", log_in_path , id: "navlink" %></li>
          <!--< else if user_admin? %>-->
          <!--  <li class="nav-item nav-link"><= link_to "Home", home_path , id: "navlink" %></li>-->
            <!--change path and make view different for admin vs user-->
          <!--  <li class="nav-item nav-link"><= link_to "View Test Results", test_results_path , id: "navlink" %></li>-->
            <!--make user log out-->
          <!--  <li class="nav-item nav-link"><= link_to "Log Out", log_in_path , id: "navlink" %></li>-->
          <!--< end %>-->
          <!--can add log in/sign up as final else statement where user isn't logged in-->
        </span>
      </ul>
    </div>
  </nav>
</header>