<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
  <div class="container-fluid py-2 px-3">
    <% if logged_in? %>
      <%= link_to "Inquest", home_path, class: "navbar-brand m-0 p-0", style: "font-size: 20pt; font-weight: bold" %>
    <% else %>
      <%= link_to "Inquest", root_path, class: "navbar-brand m-0 p-0", style: "font-size: 20pt; font-weight: bold" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon btn"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav nav-pills">
        <% if logged_in? %>
          <li><%= link_to "Home", home_path, class: "nav-link" %></li>
          <% if admin? %>
            <li><%= link_to "Create A Test", new_test_path, class: "nav-link" %></li>
            <li><%= link_to "Users", users_list_path, class: "nav-link" %></li>
            </li>
            <!--li class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="documentation" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Documentation
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #000080; padding:0; font-size: 14pt" aria-labelledby="documentation">
                <li><#%= link_to "Test Plan", project_documentation_test_plan_path, class: "dropdown-item m-0" %></li>
                <li></li>
                <li></li>
              </ul>
            </li-->
          <% else %>
            <li><%= link_to "View Test Results", test_results_path, class: "nav-link" %></li>
          <% end %>
            <li><%= link_to "Profile", profile_path(id: current_user), class: "nav-link" %></li>
            <li><%= link_to "Log Out", logout_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li><%= link_to "Log In", login_path, class: "nav-link" %></li>
          <li><%= link_to "Sign Up", signup_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>