<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--#%= controller.controller_name %-->
    <% if @doc == "test_documentation" %>
      <%= stylesheet_link_tag 'project_documentation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= render 'layouts/shim' %>
  </head>
  
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <div class="container-fluid app-load">
      <%= yield %>
    </div>
  </body>
</html>